.place__image {
    width: 460px;
    max-width: 100%;
    grid-area: image;
    justify-self: center;
}

@media screen and (max-width: 1024px) {
    .place__image {
        width: 440px;
    }
}

@media screen and (max-width: 768px) {
    .place__image {
        width: 340px;
    }
}

@media screen and (max-width: 320px) {
    .place__image {
        width: 320px;
    }
}

