.footer__copyright {
    margin: 0;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
}

@media (max-width: 680px) {
    .footer__copyright {
        text-align: unset;
        margin: 48px 0 0 0;
    }
}

@media (max-width: 780px) {
    .footer__copyright {
        line-height: 14px;
    }
}
